/* Bodoni Moda */
@font-face{font-family:"Bodoni 72";  src:url(./Bodoni72/Bodoni72.ttc) format("truetype");font-weight: 400}
@font-face{font-family:"Bodoni 72";  src:url(./Bodoni72/Bodoni72.ttc) format("truetype");font-weight: normal}

@font-face{font-family:"Bodoni 72";src:url(./Bodoni72/Bodoni72-Bold.ttf) format("truetype");font-weight: 500}
@font-face{font-family:"Bodoni 72";src:url(./Bodoni72/Bodoni72-Bold.ttf) format("truetype");font-weight: bold}

/* Source Han Serif*/
/*@font-face{font-family:"Source Han Serif";src:url(./SourceHanSerifCN/SourceHanSerifCN-ExtraLight.otf) format("opentype");font-weight:100;}*/
/*@font-face{font-family:"Source Han Serif";src:url(./SourceHanSerifCN/SourceHanSerifCN-ExtraLight.otf) format("opentype");font-weight:200;}*/
/*@font-face{font-family:"Source Han Serif";src:url(./SourceHanSerifCN/SourceHanSerifCN-light.otf) format("opentype");font-weight:300;}*/
@font-face{font-family:"Source Han Serif";src:url(./SourceHanSerifCN/SourceHanSerifCN-Regular.otf) format("opentype");font-weight:400;}
/*@font-face{font-family:"Source Han Serif";src:url(./SourceHanSerifCN/SourceHanSerifCN-Medium.otf) format("opentype");font-weight:400;}*/
@font-face{font-family:"Source Han Serif";src:url(./SourceHanSerifCN/SourceHanSerifCN-Medium.otf) format("opentype");font-weight:500;}
@font-face{font-family:"Source Han Serif";src:url(./SourceHanSerifCN/SourceHanSerifCN-Medium.otf) format("opentype");font-weight:bold;}
/*@font-face{font-family:"Source Han Serif";src:url(./SourceHanSerifCN/SourceHanSerifCN-SemiBold.otf) format("opentype");font-weight:600;}*/
@font-face{font-family:"Source Han Serif";src:url(./SourceHanSerifCN/SourceHanSerifCN-Bold.otf) format("opentype");font-weight:700;}
@font-face{font-family:"Source Han Serif";src:url(./SourceHanSerifCN/SourceHanSerifCN-Heavy.otf) format("opentype");font-weight:800;}
/*@font-face{font-family:"Source Han Serif";src:url(./SourceHanSerifCN/SourceHanSerifCN-Heavy.otf) format("opentype");font-weight:900;}*/

/*Gilroy*/
@font-face{font-family:"Gilroy";src:url(./Gilroy/Gilroy-Thin.otf) format("opentype");font-weight:100;}
@font-face{font-family:"Gilroy";src:url(./Gilroy/Gilroy-Light.otf) format("opentype");font-weight:200;}
@font-face{font-family:"Gilroy";src:url(./Gilroy/Gilroy-Regular.otf) format("opentype");font-weight:400;}
@font-face{font-family:"Gilroy";src:url(./Gilroy/Gilroy-Medium.otf) format("opentype");font-weight:500;}
/*@font-face{font-family:"Gilroy";src:url(./Gilroy/Gilroy-xxxxxxx.otf) format("opentype");font-weight:500;}*/
/*@font-face{font-family:"Gilroy";src:url(./Gilroy/Gilroy-xxxxxxx.otf) format("opentype");font-weight:600;}*/
@font-face{font-family:"Gilroy";src:url(./Gilroy/Gilroy-Bold.otf) format("opentype");font-weight:700;}
@font-face{font-family:"Gilroy";src:url(./Gilroy/Gilroy-ExtraBold.otf) format("opentype");font-weight:800;}
@font-face{font-family:"Gilroy";src:url(./Gilroy/Gilroy-Black.otf) format("opentype");font-weight:900;}

@font-face{font-family:"Gilroy";src:url(./Gilroy/Gilroy-ThinItalic.otf) format("opentype");font-weight:100;font-style: italic;}
@font-face{font-family:"Gilroy";src:url(./Gilroy/Gilroy-LightItalic.otf) format("opentype");font-weight:200;font-style: italic;}
@font-face{font-family:"Gilroy";src:url(./Gilroy/Gilroy-RegularItalic.otf) format("opentype");font-weight:400;font-style: italic;}
@font-face{font-family:"Gilroy";src:url(./Gilroy/Gilroy-MediumItalic.otf) format("opentype");font-weight:500;font-style: italic;}
/*@font-face{font-family:"Gilroy";src:url(./Gilroy/Gilroy-xxxxxxxItalic.otf) format("opentype");font-weight:500;font-style: italic;}*/
/*@font-face{font-family:"Gilroy";src:url(./Gilroy/Gilroy-xxxxxxxItalic.otf) format("opentype");font-weight:600;font-style: italic;}*/
@font-face{font-family:"Gilroy";src:url(./Gilroy/Gilroy-BoldItalic.otf) format("opentype");font-weight:700;font-style: italic;}
@font-face{font-family:"Gilroy";src:url(./Gilroy/Gilroy-ExtraBoldItalic.otf) format("opentype");font-weight:800;font-style: italic;}
@font-face{font-family:"Gilroy";src:url(./Gilroy/Gilroy-BlackItalic.otf) format("opentype");font-weight:900;font-style: italic;}

